.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}
 
h1 {
font-size:14px;
}
.navi {
font-size:14px;
}
.navi=period {
font-size:12px;
}

.main {
  padding-top: 50px;
  overflow: auto;
}
 
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: darkgrey;
}

.flex{
    /*コレ追加*/display: flex;
    border: 0px solid #333;
}
.flex div{
    border: 1px solid #333;
}

